site_name: KuboCD

nav:
  - Home: index.md
  - "Getting started": getting-started.md
  - "User guide":
    - "Installation: Kind": user-guide/110-kind.md
    - "Installation: Existing Cluster": user-guide/120-existing-cluster.md
    - "A first deployment": user-guide/130-a-first-deployment.md
    - "Under the hood - Components": user-guide/140-under-the-hood.md
    - "Ingress controller setup": user-guide/150-ingress-controller.md
    - "The Context resource": user-guide/160-the-context.md
    - "Context and configuration": user-guide/170-context-and-config.md
    - "The kuboCD CLI": user-guide/180-kubocd-cli.md
    - "KuboCD schema format": user-guide/190-alternate-schema-format.md
    - "More features (Redis)": user-guide/200-redis.md
    - "Cert-manager setup": user-guide/210-cert-manager.md
  - "Reference":
    - "Package": reference/500-package.md
    - "Release": reference/510-release.md
    - "Context": reference/520-context.md
    - "Config": reference/530-config.md

theme:
#  name: readthedocs
#  titles_only: false
#  name: mkdocs
#  name: windmill-dark
#  name: gitbook
  #  name: dracula
  name: material
  palette:
    - scheme: slate
      primary: black
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
  icon:
    repo: fontawesome/brands/github
  features:
    - navigation.footer
#    - content.code.copy
#    - content.code.select

extra_css:
  - assets/styles/extra.css

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
          - name: mermaid
            class: mermaid
            format: !!python/name:pymdownx.superfences.fence_code_format
  - attr_list
  - md_in_html
  - admonition
  - pymdownx.details

repo_url: https://github.com/kubocd/kubocd
