extraNamespaces:
  - name: contexts
config:
  enabled: true
  content:
    defaultContexts:
      - name: cluster
        namespace: contexts
    defaultNamespaceContexts:
      - project
contexts:
  - name: cluster
    namespace: contexts
    protected: true
    description: Context specific to the cluster 'kubodoc'
    context:
      ingress:
        className: nginx
        domain: ingress.kubodoc.local
      storageClass:
        data: standard
        workspace: standard
      certificateIssuer:
        public: cluster-self
        internal: cluster-self

        